body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ffffcc;
}

img {
    width: 450px;
    height: auto;
}

#pumpkin,
#cookie,
#lentil li {
    text-align: left;
}

div {
    background-color: #d6dcf0;
}